version: "3.9"

services:
  backend:
    build: .
    container_name: backend-app
    ports:
      - "3000:3000"
    depends_on:
      - redis
  redis:
    image: redis:latest
    container_name: redis-server
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes

volumes:
  redis-data:
